---
const classLabel = "block mb-2 text-sm font-medium text-gray-900 dark:text-white";
const classInput = "shadow-sm bg-black/5 dark:bg-white/5 border border-black/10 boeder-gray-500 dark:border-white/10 dark:border-gray-300 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light";
---

<form class="w-full mx-auto" action="https://formsubmit.co/2ab20756f9f51e1c02ad180bf84725ab" method="POST">
	<div class="mb-5">
		<label for="name" class={classLabel}>Nombre</label>
		<input
			type="text"
			id="name"
			name="name"
			class={classInput}
			placeholder="Tu nombre y apellido"
			required
		/>
	</div>
	<div class="mb-5 grid md:grid-cols-2 md:gap-6">
		<div class="relative z-0 w-full">
			<label for="email" class={classLabel}>Tu email</label>
			<input
				type="email"
				id="email"
				name="email"
				class={classInput}
				placeholder="name@axamplee.com"
				required
			/>
		</div>
		<div class="relative z-0 w-full">
			<label for="subject" class={classLabel}>Asunto</label>
			<input
				type="text"
				id="subject"
				name="subject"
				class={classInput}
				placeholder="Asunto"
				required
			/>
		</div>
	</div>
	<div class="mb-5">
		<label for="message" class={classLabel}>Tu mensaje</label>
		<textarea
			id="message"
			name="message"
			rows="2"
			class={classInput}
			placeholder="Escribe algo..."></textarea>
	</div>
	<input
		type="submit"
		value="Enviar"
		class="text-white cursor-pointer bg-sky-500 dark:bg-sky-300 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-sky-400 dark:focus:ring-blue-800"
		>

	<input type="hidden" name="_next" value="https://www.moraless.me/index.html">
	<input type="hidden" name="_captcha" value="false">
	<input type="hidden" name="_template" value="box">
	<input type="hidden" name="_subject" value="Contacto desde portafolio">
	<input type="hidden" name="_autoresponse" value="your custom message">
</form>
